@charset "utf-8";

img {width:100%;}

/* dim */
.dim {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}


#gnb {
    display:none;
    position: fixed;
    top:0;
    right:0;
    width:55%;
    height: 100vh;
    background:red;
    border-radius: 2.5rem 0 0 2.5rem;
    z-index:4;
}
#gnb > ul > li {
    float:none;
    width:100%;
    border-bottom:1px solid #dedede;
}
#gnb > ul > li.active {
    border-color:yellow;
}
#gnb > ul > li > a {
    display: block;
    padding: 20px 25px;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
}

/* main */
.category .cate-wrap {
    margin:0;
    padding:20px;
}
.category .cate-wrap ul {
    display: block;
    margin:0 -1%;
}
.category .cate-wrap ul li {
   display: inline-block !important;
    width: 30%;
    margin:0 1%;
}
.category .cate-wrap .thumb {
   padding-bottom:100%;
   background-size: 600%;
}

.category .cate-wrap .thumb.grow {
    background-position:20% 0 ;
}
.category .cate-wrap .thumb.hope {
    background-position:40% 0 ;
}
.category .cate-wrap .thumb.psy {
    background-position:60% 0 ;
}
.category .cate-wrap .thumb.visit {
    background-position:80% 0 ;
}
.category .cate-wrap .thumb.fit {
    background-position:100% 0 ;
}
.category .cate-wrap a:hover .thumb {
    
}
.category .cate-wrap dl {
    font-size: 1.6rem;
}
.category .cate-wrap dt {
    display: inline-block;
    position: relative;
    font-weight: bold;
}
.category .cate-wrap dd {
    display:none !important;
}

/* News */
.news {
    padding:50px 0 50px 20px;
}
.news .tab-cont {
    display: block !important;
    overflow-x:auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.news .tab-cont::-webkit-scrollbar {
    display: none;
}
.news .news-cont {
    display: block !important;
    width: calc(165px * 4 );
    
}
.news .news-cont .news-list {
    display: block !important;
    float:left;
    margin-right:10px;
    width: 155px;
    box-sizing:border-box;
}
/* calendar */
.pignose-calendar .pignose-calendar-top {
   
}